// Custom.scss
:root {
    --bs-body-bg: #000; /* Black background */
  }
  
  
body{
    position:relative;
}
@font-face {
    font-family: 'Dantina';
    src: url('/src/assets/Dantina-Lj5y.otf');
}
@font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/PlayfairDisplay[wght].ttf');
}
ul, li {
    text-decoration: none;
    list-style-type: none;
  }
  
.bg-image::before {
    position: fixed;
    content: "";
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/assets/food.jpeg');
    z-index: 0;
  }



.bg-image{
  height: 100vh;
}


.fixed-top{
    animation: fadeInDown 0.5s;
}
  
.navbar {
    &.stay-top{
        position: absolute;
    left: 0;
    right:0;
    color:white;
    margin-top: 1.5rem;
    z-index: 1;
    }
    .navbar-brand{
        font-family: 'Brush Script', cursive;
        color: palegoldenrod;
        p{
            position: relative;
        }
        span.display-5{
            line-height: 1;
            span{
                line-height: 0;;
            }
        }
        .sub-text{
            position:absolute;
            right: -1rem;
        }
    }

    .nav-link{
        font-family: serif;
        text-align: center;
        &:active{
            color: #C08446;
        }
    }
}
  
// .navbar-toggler{
//     border: none;
//     background-color: transparent;
//     .navbar-toggler-icon{
        
//     }
// }
.offcanvas{
    background-color: black !important;
    .offcanvas-header{
        justify-content: center;
        button{
            position: absolute;
            right: 1rem;
        }
    }
}
  
  
.desc{
    background-color: #fff;
    position: absolute;
    bottom: 40px;
    h5{
        font-size: 18px;
        line-height: 0.7;
        letter-spacing: 0.1rem;
        font-family: ui-san-serif;
        }
    h1{
    font-size: 32px;
    }    
}
  

.cover{
    min-width: 100vw;
    width: 100vw;
}

.about.cover{
    background-color: #eee;
    position: relative;
    .row{
    .col{
        .section-subtitle{
            letter-spacing: 3px;
            font-size: small;
            text-transform: uppercase;
        }
        .section-heading{
            font-size: 2rem;
            font-family: 'Playfair Display', sans-serif;
            span{
                font-size: 2.5rem;
                font-family: 'Dantina', "Brush Script", cursive;
            }
        }
        
        ul{
            li{ 
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                p{
                    margin:0;
                    margin-left:5px;
                }
                .about-list-icon{
                    display:flex;
                    align-items: center;
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;   
                        border-radius: 50%;
                        background-color: #C08446;
                        font-size: 10px;
                    }
                    .ti-check:before {
                        content: "\e64c";
                    }
                }
            }
        }
        hr{
            border-color: #a5a9ad !important;
            border-style: solid;
            border-width: 1px;
            margin: 1rem 0 1.5rem;
        }
        .btn{
            font-size:medium;
            border-radius: 2rem;
            padding: 15px 32px;
            &:hover :first-child{
                color:#fff;
            }
            a{
                color: #000;
                text-decoration: none;
            }
        }

        .about-img{
            position: relative;
            .img{
                position: relative;
                padding: 0 30px 30px 15px;
                img{
                    position: relative;
                    z-index: 2;
                    background-color: transparent;
                }
            }
            .img:after{
                content:"";
                background-color:#C08446;
                position: absolute;
                top: 10%;
                left: 10%;
                bottom: 0;
                right: 0;
            }
            .img:before{
                content:"";
                background-color: transparent;
                position: absolute;
                top: -6%;
                left: -3%;
                bottom: 60%;
                right: 60%;
                background-image: url("/src/assets/dots.png");
                background-repeat: repeat;
            }
        }
    }
    }
}

.section-padding{
    padding: 120px 0;
}
.service.cover{
    position: relative;
    background-color: #C08446;
    z-index: 1;
    .slider{
        .slick-slide{
            padding: 0 15px;
        }
        .card{
            overflow: hidden;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/assets/food.jpeg');
            transition: .2s ease-in transform;
            &::before{
                content: "";
                position: absolute;
                background: rgba(0, 0, 0, 0.5);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: 0.2s ease-out;
                z-index: 2;
            }

            &-img {
                transition: .3s ease-in-out transform;
               
            }
            
            .card-line{
                background-color: #fff;
                width: 40%;
                height: 1px;
                margin: 1.5rem 0;
                transition: width 0.9s;
            }

            .card-body{
                transition: 0.2s ease-in-out;
                position:relative; 
                transform: translateY(3rem); 
                z-index: 2;
                .card-title{
                    font-size: 1.5rem;
                    font-family: 'Playfair Display', sans-serif;
                    word-spacing: 5px;
                    color: #fff;
                    span{
                        font-family: 'Dantina', cursive;
                    
                    }
                }
            }
            .card-hidden-text{
                position:absolute;
            }
            &:hover{
                .card-img{
                    transform: scale(1.1);
                }
                &::before{
                    content: "";
                    position: absolute;
                    background: rgba(0, 0, 0, 0.7);
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transform: scale(1.1);
                }
                .card-line{
                    animation-name: expands;
                    animation-duration: 0.5s;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
                }

                .card-body{
                    transform: translateY(-1.5rem);
                }
            }
        }
    }
}
@keyframes fadeInDown {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes expands {
    0%{
        width: 30%;
    }
    100%{
        width:95%;
    }
}


@media (max-width: 768px){
    .bg-image::before {
        position: absolute;
    }
    .card{
        .card-body{
            .card-title{
                font-size: 2rem !important;
                word-spacing: 1rem !important;
            }
            .card-line{
                width: 100px;
            }
        }
    }
  }

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";